.repoInfoWrapper {
  align-items: flex-start;
  color: #6f7680;
  display: flex;
}

.repoInfoWrapper .iconWrapper {
  margin-top: 5px;
  margin-right: 5px;
}
.repoInfoWrapper .iconWrapper svg {
  fill: #6f7680;
  height: 28px;
  width: 28px;
}

.repoInfoWrapper .content {
  display: flex;
  flex-direction: column;
}

.content .value {
  color: #2f363d;
  font-size: 24px;
}

.content .name {
  font-size: 20px;
  margin-top: 5px;
}
