.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem 4rem;
}

.container ul li a:hover {
  text-decoration: underline;
}
